body {
    color: white;
    background-color: black;
}
header {
    position: relative;
    top: 30px;
    padding: 0px 0px 0px 70px;
    max-width: 900px;
    min-height: 300px;
}
h1 {
    position: relative;
    left: 299px;
    max-width: 50%;
    color: rgb(36, 78, 43);
    font-size: 2.3cm;
}
h4 {
    color: grey;
    opacity: 40%;
    font-size: medium;
    font-style: italic;
    position: relative;
    top: 0px;
    left: 299px;
}
#careergoal {
    padding: 0px 20px 0px 10px;
    position: relative;
    top: 5px;
    max-width: 1000px;
}
.headers {
    color: grey;
    font-size: 1.5cm;
    padding: 5px 0px 20px 40px;
    opacity: 40%;
}
.content {
    position: relative;
    padding: 0px 60px 0px 70px;
    margin: 20px 0px 20px 20px;
    font-weight: 100;
    font-size: medium;
}
#skills {
    position: relative;
    top: 50px;
    padding: 40px 0px 40px 0px;
}
.lists {
    background-color: rgba(36, 78, 43, 0.393);
    color: white;   
    position: relative;
    width: 300px; 
    padding: 20px 20px 20px 20px;
    font-size: medium;
    font-weight: 400;
}
#columns {
    display: flex;
    flex-direction: left;
    gap: 6cm;
    position: relative;
    padding: 0px 0px 10px 75px; 
    margin-left: 30px;
}
li {
    margin: 0px 20px 10px 0px;
    display: flex;   
}
 #articles {
    position: relative; 
    top: 50px;   
}
#posts {
    display: block;
    position: relative;
    left: 0px;
    padding: 10px;
}
.blogposts {
    min-height: 280px;
    max-width: 350px;
    margin: 20px 0px 0px 50px;    
}
.articlelinks{
    font-size: small;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    color: white;
    font-style: italic;
}
footer{
    position: relative;
    min-height: 70px;
    top: 130px;
    padding: 0px 20px 0px 50px;
    max-width: 900px;
}
.socialmedia{
    position: relative;
    left: 60px;
    background-color: rgb(36, 78, 43);
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    margin-left: 110px;
    opacity: 70%;
    color: white;
}