body {
    position: relative;
    bottom: 70px;
    margin: 0 auto;
    padding: 20px 80px 0px 10px;
    color: white;
    background-color: black;
    max-width: 1400px;
}

#navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    padding-left: 20px; 
    padding-top: 10px;
    background-color: black; 
    width: 100%;
    z-index: 5;
    color: white;
}

.navigation {
    position: relative;
    text-align: justify;
    color: white;
    font-size: medium;
}

h3 {
    margin-left: 120px;
    padding: 20px auto;
    color: white;
    padding-right: 25px;
    font-size: small;
}

[href]:hover {
    color:  rgb(36, 78, 43);
}

header {
    position: relative;
    top: 70px;
    padding: 2px 0px 20px 20px;
    max-width: 100%;
    margin-bottom: 40px;
    min-height: 600px;
}

#avatar {
    position: absolute;
    top: 180px;
    max-width: 300px;
    min-height: 400px;
    left: 750px;
}

h4 {
    color: grey;
    font-size:x-large;
    font-family: cursive;
    max-width: 400px;
    position: relative;
    top: 100px;
    left: 30px;
}

#emailbox {
    position: relative;
    top: 120px;
    background-color: rgb(36, 78, 43);
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    margin: 20px;
    opacity: 70%;
    color: white;
}


#resume {
    position: relative;
    margin: 10px;
}
.place {
    color: white;
    padding-bottom: 3px;
    font-size: larger;
}
.date {
    font-size: small;
    color: grey;
}

h1 {
    color: rgb(36, 78, 43);
    font-size: 2.5cm;
    padding-left: 30px;
}
  
.headers {
    color: grey;
    font-size: 1.5cm;
    padding: 80px 0px 20px 40px;
    opacity: 40%;
}

#skills {
    position: relative;
    display: flex;
    flex-direction: left;
    gap: 2cm;

}

.content {
    position: relative;
    padding: 20px 5px 20px 50px;
    margin: 20px 40px 20px 20px;
    font-weight: 200;
    font-size: larger;
}

.lists {
    background-color: rgba(36, 78, 43, 0.393);
    color: white;   
    position: relative;
    top: 50px;
    width: 350px; 
    margin: 40px;
    padding: 20px 20px 20px 10px;
    font-size: medium;
    font-weight: 400;
}

li {
    padding: 10px;
    margin: 0px 20px 10px 0px;
    display: flex;
    max-width: 280px;   
}
.subheadings {
    align-self: center;
    font-size:x-large;
    padding: 0px 30px
}

 #articles {
    position: relative;       
}

#posts {
    display: block;
    position: relative;
    left: 0px;
    padding: 20px;
}

.blogposts {
    min-height: 300px;
    max-width: 400px;
    margin: 20px 0px 0px 0px;    
}

.articlelinks{
    font-size: large;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
}

footer{
    position: relative;
    min-height: 70px;
    bottom: 0%;
    padding: 40px 40px 10px 40px;
    max-width: 95%;
}
.socialmedia{
    position: relative;
    max-width: 250px;
    min-height: 250px;
    border-radius: 5px;
    text-align: justify;
    color: rgba(31, 84, 40, 0.998);
    margin: 20px 60px 10px 100px;
    font-size: large;
}

.socialmedia:hover{
    color:white;
}